/* 
FONTS
================================
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* 
VARIABLES
==================================
*/

:root {
  --clr-very-dark-cyan: hsl(183, 100%, 15%);
  --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-dark-grayish-cyan-1: hsl(184, 14%, 56%);
  --clr-light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-light-grayish-cyan-1: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  text-align: center;
  background-color: var(--clr-dark-grayish-cyan);
}
