/* font-family: 'Bai Jamjuree', sans-serif; */
:root {
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  --clr-primary: hsl(171, 66%, 44%);
  --clr-primary-light: hsl(233, 100%, 69%);
  --clr-secondary: hsl(210, 10%, 33%);
  --clr-secondary-light: hsl(201, 11%, 66%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-center {
  padding: 4rem 2.1rem;
}

img {
  display: contain;
  max-width: 100%;
  padding-top: 1.75rem;
  padding-bottom: 3rem;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 1.9rem;
  color: var(--clr-secondary);
}

h2 {
  font-size: 1.75rem;
  color: var(--clr-secondary);
}

h3 {
  font-size: 1.5rem;
  color: var(--clr-secondary);
}
p {
  font-size: 1rem;
  color: var(--clr-secondary-light);
  padding: 1.1rem 0rem;
  line-height: 1.75rem;
  margin: 0 auto 1.75rem auto;
  max-width: 800px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
    color: var(--clr-secondary);
  }

  h2 {
    font-size: 2.25rem;
    color: var(--clr-secondary);
  }

  h3 {
    font-size: 2rem;
    color: var(--clr-secondary);
  }

  .banner-text {
    font-size: 1.2rem;
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  padding: 1rem 0;
  list-style: none;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 1px 2px 2px var(--clr-secondary);
  width: 20rem;
}

.ios {
  background: var(--clr-primary);
}

.mac {
  background: var(--clr-primary-light);
}

@media screen and (min-width: 768px) {
  .button-container {
    flex-direction: row;
  }

  .ios {
    margin-right: 0.5rem;
  }

  .mac {
    margin-left: 0.5rem;
  }

  .button {
    width: 12rem;
  }
}

/*
===================================================================
BANNER 
=================================================================== 
 */

.banner {
  background: url("./images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-container {
  padding: 4rem;
}

/*
===================================================================
SNIPPETS 
=================================================================== 
 */

@media screen and (min-width: 1024px) {
  .imac {
    position: relative;
  }

  .imac-img {
    float: left;
    position: absolute;
    transform: translateX(-5%);
    object-fit: cover;
    border: 2px solid red;
  }

  .snippet-container > .info > .title,
  .text {
    text-align: left;
  }

  .imac {
    max-width: 50vw;
  }

  .snippet-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
  }
}
