/* 
GLOBAL ==========================
*/
* {
	/* margin: 0; */
	/* padding: 0; */
	box-sizing: border-box;
}

:root {
	--clr-pale-purple: rgb(220, 212, 237);
	--clr-deep-purple: rgb(62, 2, 62);
	--font-family: 'Verdana';
}

body {
	background-color: var(--clr-pale-purple);
}

h2 {
	font-size: 1rem;
}

h1 {
	font-size: 1.5rem;
}

img {
	height: 100%;
}

/* 
COMMENT ==========================
*/

.section-center {
	width: 800px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.comment-container {
	display: grid;
	grid-template-columns: 60px auto;
	background-color: white;
	padding: 30px;
	border-radius: 15px;
	max-width: 100%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	/* margin: 1rem auto; */
}

.reply-container {
	display: grid;
	grid-template-columns: 60px auto;
	background-color: white;
	padding: 30px;
	border-radius: 15px;
	max-width: 85%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	align-self: end;
}

.score {
	background-color: var(--clr-pale-purple);
	text-align: center;
	border-radius: 25px;
	width: auto;
	color: var(--clr-deep-purple);
	height: auto;
}

.main-section {
	padding-left: 30px;
}

.user {
	display: flex;
	justify-content: space-between;
}

.user-img {
	height: 100%;
}

.user-info {
	height: 25px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 15px;
	align-items: center;
}

.score-btn-container {
	height: auto;
}

.score-btn-container:active {
	background: var(--clr-deep-purple);
}

.user-img-container {
	height: 40px;
}

.reply {
	font-size: 1.25rem;
	color: var(--clr-deep-purple);
}

.reply:active {
	background-color: var(--clr-deep-purple);
}

/* 
REPLY ======================================
*/

.new-reply-text-input {
	width: 100%;
}

.new-reply-text-area {
	display: flex;
	align-items: flex-start;
}

.comment-text-area {
	flex-grow: 1;
	margin: 0 1rem;
	border-radius: 8px;
	padding: 0.5rem 1rem;
	font-size: 0.75;
}

.reply-user-img {
	width: 100%;
	height: auto;
}

.send-reply-button {
	background-color: var(--clr-deep-purple);
	border-radius: 8px;
	color: white;
	font-size: 1.25rem;
	text-align: center;
	padding: 1rem;
	margin-top: 0;
}

.send-reply-button:active {
	background-color: var(--clr-pale-purple);
}
